<h3>튜플 및 리스트에서의 index를 이용한 실습</h3>

<h5>1차원</h5>

In [4]:
import pandas as pd

tup_data = ('파린이', '2000-04-15', '남', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '여친여부'])
print(sr)
print()
print(sr[0])
print(sr['이름'])

list_data = ['판린이', '2000-04-15', '여', True]
sr_list = pd.Series(list_data,index=['이름', '생년월일', '성별', '남친여부'])
print()
print(sr_list)
print()
print(sr_list[1])
print(sr_list['성별'])

이름             파린이
생년월일    2000-04-15
성별               남
여친여부          True
dtype: object

파린이
파린이

이름             판린이
생년월일    2000-04-15
성별               여
남친여부          True
dtype: object

2000-04-15
여

<h1>DataFrame</h1>

In [8]:
list_dataFrame = [[1,"김",3],[2,"이",6],[3,"임",10]]

dic_data = pd.DataFrame(list_dataFrame,
                        columns=["번호","성","나이"])
#다음과 같이 index를 넣지 않으면 number링을 자동으로 해준다.
print(dic_data)

dic_data.index = ['학생1','학생2','학생3']
print(dic_data)

   번호  성  나이
0   1  김   3
1   2  이   6
2   3  임  10
     번호  성  나이
학생1   1  김   3
학생2   2  이   6
학생3   3  임  10

<h3>행/열 수정, 삭제</h3>

In [11]:
df = pd.DataFrame([[18, '남','김천고'], [19, '여', '울산고']],
                 index=['진현', '민지'],
                 columns=['나이', '성별', '학교'])

df.rename(index={"진현":"학생1"},inplace=True)#한개만 변경가능
print(df)

df.drop('학생1',axis=0,inplace=True)
print(df)

     나이 성별   학교
학생1  18  남  김천고
민지   19  여  울산고
    나이 성별   학교
민지  19  여  울산고

<h1>열을 인덱스로 지정하기</h1>

In [ ]:
exam_data = {'수학':[100, 40, 70, 30], '영어': [50, 70, 90, 80], '생물': [50, 90, 70, 18], '도덕': [88, 68, 58, 77]}
df = pd.DataFrame(exam_data,index=['진현','민지','성철','지산'])
print(df)

df.set_index('수학',inplace=True)
print(df)